<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.service.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.api.entity.Course">
        <id column="id" property="id" />
        <result column="alias" property="alias"/>
        <result column="title" property="title" />
        <result column="introduction" property="introduction" />
        <result column="bg_img" property="bgImg" />
        <result column="banner" property="banner" />
        <result column="tip" property="tip" />
        <result column="learn_what" property="learnWhat" />
        <result column="type" property="type" />
        <result column="price" property="price" />
        <result column="is_discount" property="isDiscount" />
        <result column="discount_price" property="discountPrice" />
        <result column="is_finish" property="isFinish" />
        <result column="learn_persons" property="learnPersons" />
        <result column="audit_status" property="auditStatus" />
        <result column="audit_notice" property="auditNotice" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,alias, title, introduction, bg_img, banner, tip, learn_what, type, price, is_discount, discount_price, is_finish, learn_persons, audit_status, audit_notice, created_at, created_by, updated_at, updated_by
    </sql>
    <update id="increaseByColumn">
        update course
            set  ${column} = ${column} + #{incr}
        where id in <foreach collection="ids" item="item" open="(" separator="," close=")">#{item}</foreach>
    </update>
    <select id="listByParamsMap" resultMap="BaseResultMap">
        SELECT
            id,
            alias,
            title,
            introduction,
            banner,
            type,
            price,
            is_discount,
            discount_price,
            learn_persons,
            audit_status,
            created_at
        FROM
            course c
        WHERE
            audit_status = 1
          AND type = #{paramsMap.type}
          <if test="paramsMap.keyword !='' and paramsMap.keyword != null">
              AND (
                  title LIKE CONCAT( '%', #{paramsMap.keyword}, '%' )
                  OR introduction LIKE CONCAT( '%', #{paramsMap.keyword}, '%' )
                  OR EXISTS (
                    SELECT
                        teacher_id,
                        course_id
                    FROM
                        teacher_course tc
                    WHERE
                            tc.teacher_id IN (
                            SELECT
                                id
                            FROM
                                teachers t

                                WHERE
                                    t.`name` LIKE CONCAT( '%', #{paramsMap.keyword}, '%' )
                                )
                      AND tc.course_id = c.id))
          </if>
          <if test="(paramsMap.category !=null and paramsMap.label !=null) and (paramsMap.category !=0 or paramsMap.label !=0)">
            AND EXISTS (
                SELECT
                    category_id,
                    course_id
                FROM
                    course_category cc
                WHERE
                        cc.category_id IN (
                        SELECT
                            id
                        FROM
                            category cy
                        <where>
                            <if test="paramsMap.category == 0 or paramsMap.label != 0">
                                and cy.id = #{paramsMap.label}
                            </if>
                            <if test="paramsMap.category != 0 and paramsMap.label == 0">
                                and parent_id = #{paramsMap.category}
                            </if>
                            )
                        </where>
                    and cc.course_id =c.id
            )
          </if>
        ORDER BY
                 <if test="paramsMap.sort == 0">
                     id DESC
                 </if>
                 <if test="paramsMap.sort == 1">
                     learn_persons desc,id DESC
                 </if>
    </select>
    <select id="listByUserCourse" resultMap="BaseResultMap">
        SELECT
            id,
            alias,
            title,
            introduction,
            banner,
            type,
            price,
            is_discount,
            discount_price,
            learn_persons,
            audit_status,
            created_at
        FROM
            course c
        WHERE
            audit_status = 1
          <if test="type !=null and type != 0 ">
              AND type = #{type}
          </if>
            AND EXISTS(select user_id, course_id from user_course uc where uc.user_id = #{userId}
                and uc.course_id = c.id)
        order by type desc,id desc
    </select>
    <select id="countCourse" resultType="com.course.api.dto.CourseDto">
        SELECT
            type,
            COUNT( id ) AS count
        FROM
            course cs
        <where>
            <if test="paramsMap.teacherId !=null">
            and  EXISTS (
                    SELECT
                        teacher_id,
                        course_id
                    FROM teacher_course tc
                    WHERE tc.teacher_id = #{paramsMap.teacherId}
                            AND tc.course_id = cs.id )
            </if>
        </where>
        GROUP BY type
    </select>
    <select id="pagingByMap" resultMap="BaseResultMap">
        SELECT
            id,
            alias,
            title,
            introduction,
            bg_img,
            banner,
            tip,
            learn_what,
            type,
            price,
            is_discount,
            discount_price,
            is_finish,
            learn_persons,
            audit_status,
            audit_notice,
            created_at
        FROM
            course c
        WHERE
            1 = 1
          <if test="paramsMap.type !=null">
              AND type = #{paramsMap.type}
          </if>
            <if test="paramsMap.auditStatus !=null">
                AND audit_status = #{paramsMap.auditStatus}
            </if>
            <if test="paramsMap.isDiscount !=null">
                AND is_discount = #{paramsMap.isDiscount}
            </if>
            <if test="paramsMap.keyword !=null and paramsMap.keyword !=''">
                AND (
                    title LIKE CONCAT( '%', #{paramsMap.keyword}, '%' )
                    OR introduction LIKE CONCAT( '%', #{paramsMap.keyword}, '%' ))
            </if>
            <if test="paramsMap.teacherId !=null">
                AND EXISTS (
                    SELECT
                           teacher_id,
                           course_id
                    FROM teacher_course tc
                    WHERE tc.teacher_id = #{paramsMap.teacherId}
                      AND tc.course_id = c.id )
            </if>
        ORDER BY id desc
    </select>
    <select id="listParamsMap" resultMap="BaseResultMap">
        SELECT
            id,
            alias,
            title,
            introduction,
            bg_img,
            banner,
            tip,
            learn_what,
            type,
            price,
            is_discount,
            discount_price,
            is_finish,
            learn_persons,
            audit_status,
            audit_notice,
            created_at
        FROM
            course cs
        <where>
            <if test="paramsMap.dateStart !=null and paramsMap.dateEnd !=null">
                and created_at <![CDATA[ >= ]]> #{paramsMap.dateStart} and created_at <![CDATA[ <= ]]> #{paramsMap.dateEnd}
            </if>
            <if test="paramsMap.teacherId !=null">
                and  EXISTS (
                SELECT
                teacher_id,
                course_id
                FROM teacher_course tc
                WHERE tc.teacher_id = #{paramsMap.teacherId}
                AND tc.course_id = cs.id )
            </if>
        </where>
        order by id desc
    </select>

</mapper>
