<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.service.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.api.entity.Course">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="introduction" property="introduction" />
        <result column="bg_img" property="bgImg" />
        <result column="banner" property="banner" />
        <result column="tip" property="tip" />
        <result column="learn_what" property="learnWhat" />
        <result column="type" property="type" />
        <result column="price" property="price" />
        <result column="is_discount" property="isDiscount" />
        <result column="discount_price" property="discountPrice" />
        <result column="is_finish" property="isFinish" />
        <result column="learn_persons" property="learnPersons" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, introduction, bg_img, banner, tip, learn_what, type, price, is_discount, discount_price, is_finish, learn_persons, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
