<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.service.mapper.HomeRecommendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.api.entity.HomeRecommend">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="type" property="type" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, type, created_at, created_by
    </sql>

</mapper>
