<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.service.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.api.entity.Orders">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="user_id" property="userId" />
        <result column="detail_id" property="detailId" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_type" property="payType" />
        <result column="expired_at" property="expiredAt" />
        <result column="pay_at" property="payAt" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, user_id, detail_id, pay_status, pay_type, expired_at, pay_at, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
