<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.service.mapper.RechargesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.api.entity.Recharges">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="action_type" property="actionType" />
        <result column="pay_type" property="payType" />
        <result column="amount" property="amount" />
        <result column="remark" property="remark" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, action_type, pay_type, amount, remark, created_at, created_by
    </sql>

</mapper>
