<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.service.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.course.api.entity.User">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="job" property="job" />
        <result column="learn_hour" property="learnHour" />
        <result column="sex" property="sex" />
        <result column="city" property="city" />
        <result column="signature" property="signature" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, username, password, mobile, email, nickname, avatar, job, learn_hour, sex, city, signature, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
